@app-primary: #0f3460;
@app-secondary: #e94560;
@app-font-color-main: white;
//@app-font-family: 

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  color: black;
  min-width: 100vw;
  min-height: 100vh;
}

.main {
  margin-top: 75px;
}

.shipments_form {
  margin-top: 30px;
}
.box_country_input {
  text-align: left;
}

.shipment_add_button:hover {
  transition: 0.3s;
  color: #3faf2a;
}

.dispatches {
  width: 90%;
  margin-left: 5%;
  .dispatches_info {
    margin-bottom: 20px;
  }
  .dispatch {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    .dispatch-color {
      width: 100%;
      height: 10pt;
      border-bottom: 4pt black solid;
    }
  }
  .dispatch:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
    .dispatch_delete_icon {
      background-color: rgba(0,0,0,0.2);
    }
    .dispatch_delete_icon:hover {
      transition: 0.3s;
      color: red;
    }
}

.nav {
  box-shadow: 'none';
  border-bottom: 1px solid black;
  .nav_link {
    transition: 0.3s;
    text-decoration: none;
    color: black;
  }
  .nav_link:hover {
    transform: scale(1.1);
    color: #3faf2a;
  }
  .nav_title {
    flex-grow: 1;
    align-items: center;
    display: flex;
    color: black;
  }
  .nav_image {
    margin-right: 10px;
  }
  .nav_grow {
    flex-grow: 1;
  }
}