@app-primary: #0f3460;
@app-secondary: #e94560;
@app-font-color-main: white;
//@app-font-family: 

.App {
  text-align: center;
  color: black;
  background-color: #6418bb;
  min-width: 100vw;
  min-height: 100vh;
}

.nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 80%;
  .nav_header {
    width: 100vw;
    height: 100pt;
    display: flex;
    -moz-box-shadow:    3px 3px 5px 2px rgb(17, 17, 17);
    -webkit-box-shadow: 3px 3px 5px 2px rgb(17, 17, 17);
    box-shadow:         3px 3px 5px 2px rgb(17, 17, 17);
    .nav_box_div {
      width: 35%;
      background-color: white;
      margin-left: -25px;
      box-shadow:       3px 3px 5px 2px rgb(17, 17, 17);
      -webkit-transform: skew(-20deg);
      -moz-transform: skew(-20deg);
      -o-transform: skew(-20deg);
      .nav_box_image {
        height: 100pt;
        width: 100pt;
        -webkit-transform: skew(20deg);
        -moz-transform: skew(20deg);
        -o-transform: skew(20deg);
      }
    }
    .nav_box_counter_div {
      width: 65%;
      height: 100pt;
    }
  }
  .nav_links {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-align: center;
    .nav_link {
      color: white;
      text-decoration: none;
      font-size: 20pt;
    }
  }
}